
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="mahaixing(mahaixing@gmail.com)">
    <title>海米 PHPMVC 手册-{{title}}</title>
    <meta name="description" content="Hymie PHPMVC Framework，海米 PHPMVC Framework 是一个轻量级、快速开发的 phpmvc 框架。">
    <meta name="keywords" content="Hymie PHPMVC Framework, 海米 PHPMVC Framework, PHPMVC, MVC, PHP Framework, Composer, PHP">

    <!-- Bootstrap core CSS -->
    <link href="{{ context_path() }}/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link href="{{ context_path() }}/static/css/hymie.css?t=13" rel="stylesheet">
    <link href="{{ context_path() }}/static/css/markdown.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0 bg-dark" href="{{ U('/') }}">海米 PHPMVC 手册</a>
        <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
    </nav>

    <div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if topic == 'main' %}active{% endif %}" href="{{ U('/') }}">
                <span data-feather="home"></span>
                简介
                </a>
            </li> 
            <li class="nav-item">
                <a class="nav-link {% if topic == 'config' %}active{% endif %}" href="{{ U('/config') }}">
                <span data-feather="file"></span>
                配置文件
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'beanfactory' %}active{% endif %}" href="{{ U('/beanfactory') }}">
                <span data-feather="file"></span>
                Bean工厂
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'mvc' %}active{% endif %}" href="{{ U('/mvc') }}">
                <span data-feather="shopping-cart"></span>
                MVC
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'routerandfilter' %}active{% endif %}" href="{{ U('/routerandfilter') }}">
                <span data-feather="users"></span>
                路由和过滤器
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'session' %}active{% endif %}" href="{{ U('/session') }}">
                <span data-feather="bar-chart-2"></span>
                Session
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'pagniation' %}active{% endif %}" href="{{ U('/pagniation') }}">
                <span data-feather="bar-chart-2"></span>
                分页
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'fileupload' %}active{% endif %}" href="{{ U('/fileupload') }}">
                <span data-feather="bar-chart-2"></span>
                文件上传
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'helpers' %}active{% endif %}" href="{{ U('/helpers') }}">
                <span data-feather="layers"></span>
                帮助函数
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'cache' %}active{% endif %}" href="{{ U('/cache') }}">
                <span data-feather="layers"></span>
                缓存
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'logger' %}active{% endif %}" href="{{ U('/logger') }}">
                <span data-feather="layers"></span>
                日志
                </a>
            </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>单元测试及服务配置</span>
            </h6>
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link {% if topic == 'unittest' %}active{% endif %}" href="{{ U('/unittest') }}">
                <span data-feather="bar-chart-2"></span>
                单元测试
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if topic == 'server' %}active{% endif %}" href="{{ U('/server') }}">
                <span data-feather="bar-chart-2"></span>
                服务器配置示例
                </a>
            </li>
            </ul>
        </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h1">{{ title }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-3">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="https://packagist.org/packages/hymie/mvc" target="_blank">
                    Composer
                </a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="https://github.com/mahaixing/hymie-mvc" target="_blank">
                    GitHub
                </a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="https://gitee.com/mahaixing/hymie-mvc" target="_blank">
                    Gitee
                </a>
            </div>
            </div>
        </div>
        <div class="markdown-body">
        {{ content|raw }}
        </div>
        </main>
    </div>
    </div>
    <script src="{{ context_path() }}/static/js/jquery/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{ context_path() }}/static/js/bootstrap/bootstrap.bundle.min.js"></script>
</html>
